<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form class="registration-form" [formGroup]="registrationForm">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <!--Use the name `name` for the form control.-->
        <input
          type="text"
          id="name"
          placeholder="Input text"
          formControlName="name"
        />
        <ng-container *ngIf="getError('name', 'required')">
          <span id="nameErrorMessage" class="text-danger"
            >Name is required.</span
          >
        </ng-container>
        <ng-container *ngIf="getError('name', 'minlength')">
          <span id="nameErrorMessage" class="text-danger"
            >The name is too short.</span
          >
        </ng-container>
      </div>
      <div class="form__control">
        <!--Use the name `email` for the form control.-->
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          placeholder="Input text"
          formControlName="email"
        />
        <ng-container *ngIf="getError('email', 'required')">
          <span id="emailErrorMessage" class="text-danger"
            >Email is required.</span
          >
        </ng-container>
        <ng-container *ngIf="getError('email', 'email')">
          <span id="emailErrorMessage" class="text-danger">Invalid email.</span>
        </ng-container>
      </div>
      <div class="form__control">
        <!--Use the name `password` for the form control.-->
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Input text"
          formControlName="password"
        />
        <ng-container *ngIf="getError('password', 'required')">
          <span id="passwordErrorMessage" class="text-danger"
            >Password is required.</span
          >
        </ng-container>
      </div>
    </div>
    <div class="form__action">
      <app-button
        [buttonText]="'LOGIN'"
        (buttonClick)="onSubmit()"
      ></app-button>
    </div>
    <div class="form__text">
      If you have an account you may
      <strong> <a href="#login">Login</a></strong>
    </div>
  </form>
</div>
