<!-- Replace ::text:: with your code -->

<div class="title">{{ course?.title }}</div>
<div class="course-info">
  <div class="course-info__description">{{ course?.description }}</div>
  <div class="course-info__info">
    <div>
      <b>ID: </b><span class="course-info__info-id">{{ course?.id }}</span>
    </div>
    <div>
      <b>Duration: </b
      ><span class="course-info__info-duration">{{ duration | duration }}</span>
    </div>
    <div>
      <b>Created: </b
      ><span class="course-info__info-date">{{
        creationDate | customDate
      }}</span>
    </div>
    <div>
      <b>Authors: </b>
      <ng-container *ngFor="let author of course?.authors; let last = last">
        <span class="course-info__info-authors">{{ getAuthor(author) }}</span>
        <span *ngIf="!last">, </span>
      </ng-container>
    </div>
  </div>
</div>
<div class="navigation-block">
  <app-button [buttonText]="'Back'" (buttonClick)="onClick()"></app-button>
</div>
