<!-- <div *ngFor="let course of courses"></div> -->

<app-course-card [editable]="false">
  <app-button [iconName]="'trash'"></app-button>
  <app-button [iconName]="'pencil'"></app-button>
</app-course-card>

<app-course-card [editable]="true">
  <app-button [iconName]="'trash'"></app-button>
  <app-button [iconName]="'pencil'"></app-button>
</app-course-card>

<app-course-card [editable]="false">
  <app-button [iconName]="'trash'"></app-button>
  <app-button [iconName]="'pencil'"></app-button>
</app-course-card>
